<div class="container">
  <div class="row">
    <div class="col-md-9">
      <mat-form-field appearance="standard">
        <mat-label>Filtrar clientes</mat-label>
        <input disabled placeholder="Ex. Victor Monteiro" matInput #input />
      </mat-form-field>
    </div>
    <div class="col-md-3 mt-3" style="text-align: end">
      <button
        type="button"
        (click)="openCustomerForm()"
        class="btn btn-outline-primary"
        style="color: #3f51b5; border-color: #3f51b5"
      >
        Cadastrar cliente
      </button>
    </div>
  </div>

  <mat-table [dataSource]="customers" class="mat-elevation-z8">
    <ng-container matColumnDef="actions">
      <mat-header-cell
        mat-header-cell
        *matHeaderCellDef
        style="flex: 0 !important; padding-right: 55px"
      >
        Ações
      </mat-header-cell>
      <mat-cell
        mat-cell
        *matCellDef="let element"
        style="flex: 0 !important; padding-right: 55px"
      >
        <i
          class="material-icons button edit"
          (click)="openCustomerForm(element.document)"
          >edit</i
        >
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
        Name
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="document">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
        CPF/CNPJ
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        {{ formatDocument(element.document) }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
        Telefone
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        {{ element.phone }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
        E-Mail
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        {{ element.email }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
        Endereço
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        {{ element.address.city }}/{{ element.address.uf }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
</div>
